.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  width: 500px;
  height: 500px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button {
  margin: 10px;
  width: 100px;
}

input {
  margin: 8px;
  width: 450px;
}

h4 {
  text-align: center;
}